<!DOCTYPE html

<html>
    <head>
        <title>Log In</title>
        <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    </head>
    <body>
        {% from "_macros.html" import menuUI %}
        {% from "_macros.html" import formErrCheck %}

        {{ menuUI(menu) }}

        <ul class="centralmenu">
            {% for category, message in get_flashed_messages(True) %}
                <p class="flash_{{ category }}">{{ message }}</p>
            {% endfor %}
            <form action="" method="post"> 
                {{ form.hidden_tag() }}   
                {{ formErrCheck(form) }}
                <li><p>{{ form.submit() }}</p></li>
            </form>
            <li><p class="signup_title">Not logged in?<a href="/signup">Sign Up!</a></p></li>
        </ul>
    </body>
</html>