<!DOCTYPE html>

<html>
    <head>
        <title>User {{ username }}</title>
        <link type="text/css" href="{{url_for('user.static', filename='css/styles.css')}}" rel="stylesheet"/>
    </head>
    <body>
        {% from "user/_macros.html" import menuUI %}
        
        {{ menuUI(menu) }}
        
        <a href="/user/addavatar/{{username}}"><img src="/avatar/{{username}}" style="height: 70vh; width: 70vh; float: left;"></a>
        <div style="float: right; margin-right: 35vh;">
            <p style="font-size: 6vh; display: inline-block;">User: {{ username }}</p>
            <div style="margin-top: 60vh;">
                <p style="font-size: 6vh;"><a href="/user/createpost/{{ username }}" style="color: blue">Create Post</a>
                <a href="/user/logout" style="color: rgb(255, 0, 4); display: inline-block; margin-left: 40vh;">Log Out</a></p>
            </div>
        </div>
    </body>
</html>

