<!DOCTYPE html

<html>
    <head>
        <title>Log In</title>
        <link type="text/css" href="{{url_for('admin.static', filename='css/styles.css')}}" rel="stylesheet"/>
    </head>
    <body>
        {% from "admin/_macros.html" import menuUI %}
        {% from "admin/_macros.html" import formErrCheck %}

        {{ menuUI(menu) }}

        <ul class="centralmenu">
            {% for category, message in get_flashed_messages(True) %}
                <p class="flash_{{ category }}">{{ message }}</p>
            {% endfor %}
            <form action="" method="post"> 
                {{ form.hidden_tag() }}   
                {{ formErrCheck(form) }}
                <li><p>{{ form.submit() }}</p></li>
            </form>
        </ul>
    </body>
</html>